QPushButton {
    background-color: #262F34;
    border-style: inset;
    border-width: 0px;
    border-radius: 15px;
    border-color: black;
    font: bold 15px;
    padding: 6px;
    color: white;
}

QPushButton:hover {
    background: #90ff77;
    color: black;
}

QPushButton:pressed {
    background: #66ff4f;
    border-style: inset;
    color: black;
}
