QPushButton {
    background-color: #262F34;
    border-style: inset;
    border-width: 0px;
    border-radius: 15px;
    border-color: black;
    font: bold 15px;
    padding: 6px;
    color: white;
}

QPushButton:hover {
    background: #d3a27f;
    color: black;
}

QPushButton:pressed {
    background: #c08457;
    border-style: inset;
    color: black;
}
